@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

* {
    font-family: 'Roboto';
}
  
.title {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}



.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 5rem;
}

.loginForm form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid #6f5b82;
    border-radius: 15%;
}

.loginForm form div {
    margin: 0.6rem 0rem
}

.labelInput {
    font-size: 1.5rem;
    display: flex;
    justify-content: start;
}

